#                                                  Assignment-1

# Question:-1)

In [10]:
mixed_variable=["Pankaj",[1,2,3,"Ram",3.5],7.757,(10,100)]

# Question:-2)

In [ ]:
var1=''
type(var1)

In [ ]:
var2='[DS, ML,Python]'
type(var2)

In [ ]:
var3=['DS','ML','Python']
type(var3)

In [ ]:
var4=1.
type(var4)

# Question:-3)
(i) / :- It is an Division Operator. It divides one number by another and returns the quotient as a floating-point number

In [2]:
D=10/3;
print(D)

3.3333333333333335

3.(ii)- % This is an modulo operator.  It returns the remainder when one number is divided by another.

In [3]:
M=10%3
print(M)

1

3.(iii): // This is an floor division operator. t divides one number by another and returns the quotient rounded down to the nearest integer.

In [4]:
F=10//3;
print(F)

3

3.(iv):- ** = This is an exponentiation operator. It raises a number to the power of another number.

In [5]:
E=10**3
print(E)

1000

# Question:-4

In [8]:
l1=[1,2,3,1.1,'pankaj',"Ram",True,False]

In [12]:
for i in l1:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
1.1
<class 'float'>
pankaj
<class 'str'>
Ram
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

# Question 5

In [15]:
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))

while a % b == 0:
    print("A is divisible by B for", a/b, "times")
    break
else:
    print("A is not divisible by B")

Enter number A: 10
Enter number B: 2
A is divisible by B for 5.0 times

# Question 6

In [26]:
L2=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,29,20,21,22,23,24,25]
for i in L2:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
29 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Question 7

# Mutable 
   Mutable objects in programming refer to objects whose values can be modified or changed after they are created. This means that when you make changes to a mutable object, such as adding or removing elements, the object itself is modified in memory.
   
Some common examples of mutable objects in programming languages like Python include lists, dictionaries, and sets. For example, you can add or remove elements from a list, update values in a dictionary, or modify the content of a set.

In [28]:
T4 = [1,2,3,"Pankaj"]
T4

[1, 2, 3, 'Pankaj']

In [29]:
T4[3]="Pankaj Gangwar"
T4

[1, 2, 3, 'Pankaj Gangwar']

# Immutable
Immutable objects in programming refer to objects whose values cannot be modified or changed after they are created.This means that when you make changes to a Immutable object, such as adding or removing elements, the objectn shows an error.

Some common examples of Immutable objects in programming languages like Python include tuple,in,float etc.

In [30]:
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment