# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# A database is an organized collection of data that can be easily accessed and managed 1. It can be used to store, retrieve, and manage data. Databases can be organized into tables, rows, columns, and indexed to make it easier to find relevant information
# There are many databases available like MySQL, Sybase, Oracle, MongoDB, Informix, PostgreSQL, SQL Server, etc

# SQL v/s NoSQL

In [3]:
# SQL or Structured Query Language is used to operate on the data stored in a database. SQL depends on relational algebra and tuple relational calculus. SQL databases are primarily called Relational Databases (RDBMS)
# SQL databases define and manipulate data-based structured query language (SQL). SQL is one of the most versatile and widely-used options available which makes it a safe choice, especially for great complex queries.


# On the other hand, NoSQL databases are primarily called non-relational or distributed databases 
# NoSQL databases have a dynamic schema for unstructured data. 
# Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [9]:
# DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing
#the structure of a database. DDL commands allow you to create, modify, and delete database objects such as tables, indexes,
# and constraints. Here's an explanation of four important DDL commands and examples of how they are used:

# CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, views, and schemas.
# It defines the structure and characteristics of these objects.
'''CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);'''

# DROP: The DROP statement is used to delete existing database objects, such as tables, indexes, or views. 
# It permanently removes the object and all associated data.

# DROP TABLE Employees;

# ALTER: The ALTER statement is used to modify the structure of an existing database object.
# It can be used to add, modify, or drop columns, constraints, or other object attributes.

'''ALTER TABLE Employees
ADD Email VARCHAR(100);'''

# TRUNCATE: The TRUNCATE statement is used to remove all data from a table but retains the table structure.
# It is a faster alternative to DELETE when you want to empty a table.
'''TRUNCATE TABLE Employees;
'''

'CREATE TABLE Employees (\n    EmployeeID INT PRIMARY KEY,\n    FirstName VARCHAR(50),\n    LastName VARCHAR(50),\n    DepartmentID INT\n);'

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
'''DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data within a database. DML commands allow you to perform actions like inserting new data, updating existing data, and deleting data from database tables. Here's an explanation of three important DML commands with examples:

1. INSERT: The INSERT statement is used to add new records (rows) to a table.

   Example - Inserting Data into a Table:


   INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
   VALUES (1, 'John', 'Doe', 'john.doe@example.com');

   In this example, a new record is inserted into the "Customers" table with values for the "CustomerID," "FirstName," "LastName," and "Email" columns.

2. UPDATE: The UPDATE statement is used to modify existing data in a table.

   Example - Updating Data in a Table:

   
   UPDATE Products
   SET Price = 19.99
   WHERE ProductID = 101;
   

   This command updates the "Price" of a product with a "ProductID" of 101 in the "Products" table. In this case, it sets the price to $19.99.

3. DELETE: The DELETE statement is used to remove records from a table.

   Example - Deleting Data from a Table:

   
   DELETE FROM Orders
   WHERE OrderID = 12345;
'''

# Q4. What is DQL? Explain SELECT with an example.

In [ ]:

#DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
#The primary DQL command is SELECT, which allows you to specify what data you want to retrieve from one or more database tables.

#SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. 
#It allows you to specify which columns you want to retrieve and filter the data based on various criteria.

'''SELECT FirstName, LastName, Salary
FROM Employees
WHERE Department = 'Marketing' AND Salary > 50000;
'''

# Q5. Explain Primary Key and Foreign Key.

In [1]:
# Primary Key:

# A primary key is a column or set of columns in a database table that uniquely identifies each row or record in that table.
# It enforces the uniqueness constraint, meaning that no two rows in the table can have the same values in the primary key column(s).

# Foreign Key:

# A foreign key is a column or set of columns in one table that is used to establish a link between the data in two tables.
# It creates a relationship between the tables, allowing you to reference rows in one table from another table.
# The foreign key column(s) in one table typically matches the primary key column(s) of another table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
'''import mysql.connector

# Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# SQL query to create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL
)
"""

# Execute the SQL query to create the table
cursor.execute(create_table_query)

# SQL query to insert data into the table
insert_data_query = """
INSERT INTO users (username, email) VALUES (%s, %s)
"""

# Data to be inserted
user_data = ("JohnDoe", "johndoe@example.com")

# Execute the SQL query to insert data
cursor.execute(insert_data_query, user_data)

# Commit the changes to the database
connection.commit()

# SQL query to retrieve data from the table
select_data_query = "SELECT * FROM users"

# Execute the SQL query to fetch data
cursor.execute(select_data_query)

# Fetch all rows
result = cursor.fetchall()

# Display the data
for row in result:
    print(row)

# Close the cursor and the connection
cursor.close()
connection.close()
'''

# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''
In an SQL query, the clauses are typically executed in the following order:

1. **FROM**: The `FROM` clause specifies the table or tables from which data will be retrieved. It is the first clause to be executed, defining the source tables for the query.

2. **WHERE**: The `WHERE` clause is used to filter the rows retrieved from the tables specified in the `FROM` clause. It is executed after the `FROM` clause, and it determines which rows meet the specified conditions.

3. **GROUP BY**: The `GROUP BY` clause is used for grouping rows that have the same values in specified columns into summary rows. It is executed after the `WHERE` clause and before the `HAVING` clause.

4. **HAVING**: The `HAVING` clause is used to filter the grouped rows produced by the `GROUP BY` clause based on aggregate functions (e.g., `SUM`, `COUNT`, `AVG`). It operates on the grouped data and is executed after the `GROUP BY` clause.

5. **SELECT**: The `SELECT` clause specifies the columns or expressions to be included in the result set. It is executed after the previous clauses, and it determines which columns are displayed in the query results.

6. **DISTINCT**: The `DISTINCT` keyword, when used in conjunction with the `SELECT` clause, eliminates duplicate rows from the result set. It operates on the result set produced by the previous clauses and is executed after the `SELECT` clause.

7. **ORDER BY**: The `ORDER BY` clause is used to sort the result set based on one or more columns in ascending or descending order. It is executed after the previous clauses, including `SELECT`, and it determines the order in which the rows are presented in the output.

8. **LIMIT/OFFSET (Optional)**: The `LIMIT` and `OFFSET` clauses are used to restrict the number of rows returned by the query and to skip a specified number of rows, respectively. They are executed after all other clauses and are often used for pagination or limiting the result set size.

9. **UNION (Optional)**: The `UNION` operator is used to combine the result sets of two or more `SELECT` statements. It is executed after the individual `SELECT` statements.

It's important to note that not all SQL queries will include every one of these clauses, and the specific order may vary depending on the query's requirements. Additionally, some database systems may optimize the order of execution based on query optimization techniques, so the actual execution order may not always match the written order of clauses in the query.
'''